
<div class="row">
    <div class="col-5">
        <table class="table border">
            <thead>
                <tr>
                    <th value="SNo">SNo</th>
                    <th value="name">Name</th>
                    <th value="city">City</th>
                    <th value="cellNo">Cell No</th>
                    <th value="isActive">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let student of studentObj; let i=index" [ngClass]="{'bg-success': student.lastProperty}" >
                    <td>{{i}}</td> 
                    <td >{{student.name}}</td>
                    <td >{{student.city}}</td>
                    <td >{{student.cellNo}}</td>
                    <td [ngClass]="student.isActive == true ? 'bg-success' : 'bg-danger' "> 
                        {{student.isActive == true ? 'Active' : 'De-Active'}} || <br/>
                        <span *ngIf="student.isActive == true">Active</span>
                        <span *ngIf="student.isActive == false">De-Active</span>|| <br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-3 p-3" >
        <h2> Using ngFor in ul</h2>
        <ul *ngFor="let city of cities">
            <li>
                {{city}}
            </li>
        </ul>
        <h3>Using Normal Div :</h3>
        <div  *ngFor="let city of cities">
            {{city}}
        </div>
    </div>
    <div class="col-3 p-3">
        <h2> Using ngFor in li</h2>
        <ul >
            <li *ngFor="let city of cities">
                {{city}}
            </li>
        </ul>
        <label>Using InLine Element Label : </label> <br/>
        <label *ngFor="let cityname of cities">{{cityname}}</label>
    </div>
    <div class="col-3 p-3">
        <h3>Using DropDown method :</h3>
        <select>
            <option value="choose" selected disabled>Choose City</option>
            <option *ngFor="let city of cities">{{city}}</option>
        </select><br />
        <input type="text" placeholder="Enter city " [(ngModel)]="ct">{{ct}}<br />
        <button type="button" class="btn btn-primary" (click)="addCity()">Add City</button>
        <!-- <div>
            <input type="text" placeholder="Enter city ">
            <button>Add City</button>
        </div> -->
        <!-- <div class="col" *ngFor="let cityname of cities", let i="index">
            {{cityname}}
        </div> -->
        <br/>
        <br/>

        <button type="button" class="btn p-3 m-2" [ngClass]="userSelectedCity == cityname ? 'bg-success': 'bg-primary' " *ngFor="let cityname of cities"  (click)="selectCity(cityname)">
            {{cityname}}
        </button>
        <br/>


        
    </div>
    <div class="col-3 p-3">
        <ul>
            <li *ngFor="let student of studentObj">
                {{student.Id}} -- {{student.name}}
            </li>
        </ul>
        <select>
            <option *ngFor="let student of studentObj" [value]="student.Id">
                {{student.name}}
            </option>
        </select>
        <label>{{studentObj.Id}}</label>

    </div>


    <div class="row">
        <!-- <div class="col-3">
            <input type="text" />
        </div> -->
        <div class="col-3">
            <input type="text" [(ngModel)]="userNumber"/>{{userNumber}}

            <button class="btn btn-primary m-2"  (click)="calTable('userNumber')">Print Table</button>

            <ul>
                <li *ngFor="let number of arrayofnos">
                    {{userNumber}} * {{number}} => {{userNumber*number}}
                </li>
            </ul>
        </div>
    </div>

    
</div>