
<div class="row p-3">
    <div class="col-3 pt-3  bg-success" *ngIf="div1class == 'bg-success'">
        Div1
    </div>
    <div class="col-3 pt-3 bg-danger" *ngIf="div1class == 'bg-danger'">
        Div1
    </div>
    <!-- <div class="col-3 pt-3" [ngClass]="div1class">
        Div1
    </div> -->
    <div class="col-3 pt-3" [ngClass]="isActive == true ? 'bg-success': 'bg-danger'">
        Div2
    </div>
    <div class="col-3 pt-3" [ngClass]="div3class">
        Div3
    </div>
    <div class="col-3 pt-3">
        Div4
    </div>
</div>

<div class="row">
    <div class="col-3 pt-3">
        <button class="btn bg-success" (click)="addGreen()">Add Green</button>
        <button class="btn bg-danger" (click)="addRed()">Add Red</button>
    </div>
    <div class="col-3 pt-3">
        <input type="checkbox" [(ngModel)]="isActive" /> {{isActive}}
    </div>
    <div class="col-3 pt-3">
        <input type="text" [(ngModel)]="div3class"/>{{div3class}}
    </div>
    <div class="col-3 pt-3">
        <button >Add Green</button>
        <button >Add Red</button>
    </div>
</div>

<!-- <div class="row">
    <div [ngClass]="{'active' : isActive}">
        this Div presnt if class is active..
    </div>
</div> -->

<div class="row pt-5">
    <div class="col-3">
        <button type="button" class="btn bg-success" (click)="showMobiles()" [(ngModel)]="mobile">Mobile</button>
    </div>
    <div class="col-3">
        {{mobile}} 
    </div>
</div>

