<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                List -    <button class="btn btn-primary" (click)="getUsers2()">Get Users </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th> 
                                    <th>projectName</th>
                                    <th>role</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of userList;let sr = index">
                                    <td>{{sr+1}}</td>
                                    <td>{{user.fullName}}</td>
                                    <td>{{user.projectName}}</td>
                                    <td>{{user.role}}</td> 
                                    <td>
                                        <button class="btn btn-success"  >Edit</button>
                                        <button class="btn btn-danger"  >Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                Form
            </div>
            <div class="card-body">
                <form [formGroup]="userForm" >
                    <div class="row">
                        <div class="col-6">
                            <label for="">userName</label>
                            <input type="text"  formControlName="userName"  class="form-control"> 
                            <div class="text-danger" *ngIf="userForm.controls['userName'].touched || userForm.controls['userName'].dirty">
                                <span *ngIf="userForm.controls['userName'].errors?.['required']">This IS Required</span> 
                                <span *ngIf="userForm.controls['userName'].errors?.['minlength']">Min 5 Char Needed</span>  
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">emailId</label>
                            <input type="text" formControlName="emailId"  class="form-control">
                            <div class="text-danger" *ngIf="userForm.controls['emailId'].touched">
                                <span *ngIf="userForm.controls['emailId'].errors?.['email']">InValid Email</span>  
                              </div>
                        </div>
                        <div class="col-6">
                            <label for="">fullName</label>
                            <input type="text"  formControlName="fullName"  class="form-control">
                        </div> 
                        <div class="col-6">
                            <label for="">role</label>
                            <input type="text"  formControlName="role"  class="form-control">
                        </div> 
                        <div class="col-6">
                            <label for="">password</label>
                            <input type="text" formControlName ="password"   class="form-control">
                        </div> 
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success" >Save User</button>
                            <button   class="btn btn-warning"  >Update User</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div> 

 

   